<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}Welcome{{ end }} | MiniTwit</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" href="data:," />
</head>

<body>
  <div class="page">
    <h1>MiniTwit</h1>
    <div class="navigation">
      {{ if .User }}
      <a href="/">my timeline</a> |
      <a href="/public">public timeline</a> |
      <a href="/logout">sign out [{{ .Username }}]</a>
      {{ else }}
      <a href="/public">public timeline</a> |
      <a href="/register">sign up</a> |
      <a href="/login">sign in</a>
      {{ end }}
    </div>

    <!-- Flash Messages -->
    {{ if .Flashes }}
    <ul class="flashes">
      {{ range .Flashes }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ end }}

    <div class="body">
      {{ template "content" . }} <!-- insert the template named "content" here -->
    </div>

    <div class="footer">
      MiniTwit — A Go Application
    </div>
  </div>
</body>

</html>